<!-- Code of session 1 handson-->
<!--<h1>Favorite Movie: {{favoriteMovie}}</h1>-->


<div>
  <h2><span style="text-align: left; font-family:Kaushan Script; ">Angular Learning </span> </h2>&nbsp;
    
  <button> <a routerLink="/login" routerLinkActive="active">Login</a>&nbsp;  </button>
   <button> <a routerLink="/viewEmployee" routerLinkActive="active">View Employee</a>&nbsp;&nbsp;</button>
  <button> <a routerLink="/empList" routerLinkActive="active">Employee</a>&nbsp;&nbsp;  </button>
   <button> <a routerLink="/editEmployee" routerLinkActive="active">Edit Employee</a>&nbsp;&nbsp; </button>
   <button> <a routerLink="/incQuant" routerLinkActive="active">Quantity Increment</a>&nbsp;&nbsp;  </button>
  <button>  <a routerLink="/tempEditEmp" routerLinkActive="active">Edit Employee(Template Driven)</a>&nbsp;&nbsp;  </button>
  <button>  <a routerLink="/rectEditEmp" routerLinkActive="active">Edit Employee(Reactive Form)</a>&nbsp;&nbsp;  </button>
   <button> <a routerLink="/fbEditEmp" routerLinkActive="active">Edit Employee(FormBuilder)</a>&nbsp;&nbsp;  </button>
  <button>  <a routerLink="/dEditEmp" routerLinkActive="active">Edit Employee(DynamicForm)</a>   </button>
</div>
    
<router-outlet></router-outlet>
<!--Routed Views Go Here-->
